﻿    body {
        background-color: #323438;
        margin: 0;
    }

    h1 {
        text-align: center;
        color: white;
        margin: 0;
        padding-top: 60px;
        width: calc(100% - 170px);
        font-size: 50px;
    }

    h2 {
        color: white;
        text-align: center;
    }

    p {
        color: white;
        text-align: justify;
        font-size: 18px;
        margin-left: 40px;
        margin-right: 40px;
    }

    a {
        color: #ffdb99;
    }

    header {
        height: 200px;
        background-color: #262728;
    }

    main {
        display: inline-block;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav {
        position: unset;
        width: 100%;
    }

    footer {
        height: auto;
        background-color: #262728;
        padding: 20px;
    }

    footer p {
        font-size: 12px;
        text-align: center;
    }

    #tipp_div {
        float: left;
        width: 200px;
        height: 80px;
        position: fixed;
        background-color: #262728;
        opacity: 0.75;
        border: solid;
        border-width: 1px;
        border-color: black;
        margin-left: 5px;
        top: calc(100% - 110px);
        color: white;
        padding: 10px;
    }
    
    @keyframes hide {
        0% {left: 0px;}
        100% {left: -210px;}
    }

    @keyframes show {
        0% {left: -210px;}
        100% {left: 0px;}
    }

    #logo {
        margin-top: 20px;
        margin-left: 20px;
        width: 150px;
        height: 150px;
        float: left;
    }

    #images {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    #pv_c {
        width: 400px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
        display: block;
    }

    #pv_img_holder {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
        
    }

    #pv_div {
        position: center;
        width: 45%;
        margin: auto;
        background-color: #575859;
        border: solid;
        border-color: #ffbb3d;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #pv_buttons {
        width: 104px;
        margin: auto;
    }

    .pv_button {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
    }

    .pv_button:active {
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    .button1 {
        float: left;
        width: calc(25% - 6px);
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
        color: white;
        border: solid;
        border-color: #ffbb3d;
        background-color: #323438;
        font-size: 25px;
        overflow: hidden;
    }

    .button1:hover {
        float: left;
        width: calc(25% - 6px);
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
        color: black;
        border: solid;
        border-color: #262728;
        background-color: #ffbb3d;
        font-size: 25px;
    }

    .qna, .m8 {
        padding: 10px;
        border: solid;
        border-width: 1px;
        border-color: #ffbb3d;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
        position: center;
    }

    .qna h2 {
        text-align: left;
    }

    .sub {
        border: solid;
        border-width: 1px;
        border-color: #ffbb3d;
        margin: 20px;
        padding: 5px;
        width: 20%;
        height: 60px;
    }

    .sub img {
        height: 100%;
        float: left;
    }

    .sub a {
        margin: 1px;
        font-size: 25px;
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    @media screen and (max-width: 1000px), screen and (min-device-width: 719px) and (max-device-width: 721px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
        h1 {
            font-size: 75px;
            margin: auto;
            padding-top: 20px;
        }

        header {
            height: 150px;
        }

        main {
            padding-top: 200px;
        }

        footer {
             height: auto;
         }

        footer p {
            font-size: 20px;
        }

        #tipp_div {
            display: none;
        }

        #logo {
            display: none;
        }

        #pv_div {
            display: none;
        }

        .m8, .qna {
            border: none;
        }

        .sub {
            width: 40%;
            height: 100px;
            padding-bottom: 10px;
        }

        .sub a {
            font-size: 40px;
        }

        .button1 {
            font-size: 50px;
            width: calc(50% - 6px);
            float: left;
            height: 70px;
        }

        .button1:hover {
            font-size: 50px;
            width: calc(50% - 6px);
            float: left;
            height: 70px;
            border-color: #262728;
            background-color: #ffbb3d;
        }
    }